
div:not(.exception) {
    display: inline-block;
    width: 30%;
    margin-left: 2%;
    vertical-align: top;
}
.form:not(.exception){

    display: block;
}
.inline:not(.exception){

    display: inline;
}
span {
    font-weight: bold;
}

h1 {
    text-align: center;
}


