body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    }

nav{
    background-color: #234465;
}

nav ul{
    text-align: center;
    padding: 10px;
    margin:0;
}

nav li{ 
    display:inline-block;
}

nav li a{
    text-decoration:none;
    color: white;
    display: block;
    padding: 10px 20px
}  

section{
    margin-left: 20px;
}

.italic{
    font-style: italic;
}

h1{
    text-align: center;
}
footer{
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: #234465;
    color: white;
    padding: 20px;
    margin-top: 268px;
}

